<div class="mdc-drawer__content">
    <div class="mdc-drawer__header">
        <h3 class="mdc-drawer__title">{{user.username}}</h3>
        <h6 class="mdc-drawer__subtitle">{{user.currentTask}}</h6>
        <a href="/logout" class="mdc-button mdc-button--outlined">
            <div class="mdc-button__ripple"></div>
            <div class="mdc-button__label">Abmelden</div>
        </a>
    </div>
    <div class="mdc-drawer__header">
        <h3 class="mdc-drawer__title navigation-clock">{{pageData.time}}</h3>
        <h6 class="mdc-drawer__subtitle">{{pageData.date}}</h6>
    </div>
    <div class="mdc-deprecated-list-group">
        <h3 class="mdc-deprecated-list-group__subheader">CheckIn & Wartebereich</h3>
        <div class="mdc-deprecated-list">
            <a id="app-link-checkin" class="navigation-element mdc-deprecated-list-item" href="/checkin" aria-current="page">
                <span class="mdc-deprecated-list-item__ripple"></span>
                <i class="material-icons mdc-deprecated-list-item__graphic" aria-hidden="true">grading</i>
                <span class="mdc-deprecated-list-item__text">Checkin</span>
            </a>
<!--                <a id="app-link-wb2" class="navigation-element mdc-deprecated-list-item" href="/wb2" >-->
<!--                    <span class="mdc-deprecated-list-item__ripple"></span>-->
<!--                    <i class="material-icons mdc-deprecated-list-item__graphic" aria-hidden="true">people</i>-->
<!--                    <span class="mdc-deprecated-list-item__text">Wartebereich II</span>-->
<!--                </a>-->
        </div>
        <div class="mdc-deprecated-list">
        <h3 class="mdc-deprecated-list-group__subheader">Impfstrecke & Apotheke</h3>
            {{#each tracks}}
                <a id="app-link-strecke--{{this.id}}" class="navigation-element mdc-deprecated-list-item" href="/strecke/{{this.id}}" >
                    <span class="mdc-deprecated-list-item__ripple"></span>
                    <i class="material-icons mdc-deprecated-list-item__graphic" aria-hidden="true">coronavirus</i>
                    <span class="mdc-deprecated-list-item__text">Impfstrecke {{this.name}}</span>
                </a>
            {{/each}}

            <a id="app-link-apotheke" class="navigation-element mdc-deprecated-list-item" href="/apotheke" >
                <span class="mdc-deprecated-list-item__ripple"></span>
                <i class="material-icons mdc-deprecated-list-item__graphic" aria-hidden="true">people</i>
                <span class="mdc-deprecated-list-item__text">Apotheke</span>
            </a>

        </div>
        <div class="mdc-deprecated-list">
            <h3 class="mdc-deprecated-list-group__subheader">Leitung</h3>
            <a id="app-link-management" class="navigation-element mdc-deprecated-list-item" href="/management" >
                <span class="mdc-deprecated-list-item__ripple"></span>
                <i class="material-icons mdc-deprecated-list-item__graphic" aria-hidden="true">announcement</i>
                <span class="mdc-deprecated-list-item__text">Teamleiter</span>
            </a>
        </div>
        <div class="mdc-deprecated-list">
            <h3 class="mdc-deprecated-list-group__subheader">Entwicklung</h3>
            <a id="app-link-statistics" class="navigation-element mdc-deprecated-list-item" href="/statistics" >
                <span class="mdc-deprecated-list-item__ripple"></span>
                <i class="material-icons mdc-deprecated-list-item__graphic" aria-hidden="true">trending_up</i>
                <span class="mdc-deprecated-list-item__text">Statistik</span>
            </a>
            <a id="app-link-device" class="navigation-element mdc-deprecated-list-item" href="/device" >
                <span class="mdc-deprecated-list-item__ripple"></span>
                <i class="material-icons mdc-deprecated-list-item__graphic" aria-hidden="true">tablet_android</i>
                <span class="mdc-deprecated-list-item__text">Mein Gerät</span>
            </a>
<!--            <a id="app-link-settings" class="navigation-element mdc-deprecated-list-item" href="/settings" >-->
<!--                <span class="mdc-deprecated-list-item__ripple"></span>-->
<!--                <i class="material-icons mdc-deprecated-list-item__graphic" aria-hidden="true">settings</i>-->
<!--                <span class="mdc-deprecated-list-item__text">Einstellungen</span>-->
<!--            </a>-->
        </div>
    </div>
</div>


