<div class="dashboard dashboard-module dashboard-module-figures">
    <div class="dashboard-inner dashobard-module-inner">
        <div class="dashboard-header">
<!--            <span class="dashboard-header__text">{{header}}</span>-->
        </div>
        <div class="dashboard-component-container">
            <div class="dashboard-component dashboard-component--fullwidth dashboard-component-figures">
                <div class="dashboard-component-header">
                    Check-In / Wartebereich II
                </div>
                <div class="dashboard-subcomponent-container">
                    <div class="dashboard-subcomponent dashboard-subcomponent-amount figures-main">
                        <div class="dashboard-component-value">
                            <span class="dashboard-component-value__text">{{componentData.checkin.total.all}}</span>
                        </div>
                        <div class="dashboard-component-label">
                            <span class="dashboard-component-label__text">Gesamt</span>
                        </div>
                    </div>
                    <div class="dashboard-subcomponent dashboard-subcomponent-amount figures-part figures--biontech">
                        <div class="dashboard-component-value">
                            <span class="dashboard-component-value__text">{{componentData.checkin.total.biontech}}</span>
                        </div>
                        <div class="dashboard-component-label">
                            <span class="dashboard-component-label__text">BionTech</span>
                        </div>

                    </div>
                    <div class="dashboard-subcomponent dashboard-subcomponent-amount figures-part figures--moderna">

                        <div class="dashboard-component-value">
                            <span class="dashboard-component-value__text">{{componentData.checkin.total.moderna}}</span>
                        </div>
                        <div class="dashboard-component-label">
                            <span class="dashboard-component-label__text">Moderna</span>
                        </div>
                    </div>
                    <div class="dashboard-subcomponent dashboard-subcomponent-amount figures-part figures--astra">

                        <div class="dashboard-component-value">
                            <span class="dashboard-component-value__text">{{componentData.checkin.total.astra}}</span>
                        </div>
                        <div class="dashboard-component-label">
                            <span class="dashboard-component-label__text">Astrazeneca</span>
                        </div>
                    </div>
                    <div class="dashboard-subcomponent dashboard-subcomponent-amount figures-part figures--johnson">

                        <div class="dashboard-component-value">
                            <span class="dashboard-component-value__text">{{componentData.checkin.total.johnson}}</span>
                        </div>
                        <div class="dashboard-component-label">
                            <span class="dashboard-component-label__text">J&J</span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="dashboard-component dashboard-component--fullwidth dashboard-component-figures">
                <div class="dashboard-component-header">
                    Durchgeführte Impfungen
                </div>
                <div class="dashboard-subcomponent-container">
                    <div class="dashboard-subcomponent dashboard-subcomponent-amount figures-main">
                        <div class="dashboard-component-value">
                            <span class="dashboard-component-value__text">{{componentData.track.total.all}}</span>
                        </div>
                        <div class="dashboard-component-label">
                            <span class="dashboard-component-label__text">Gesamt</span>
                        </div>
                    </div>
                    <div class="dashboard-subcomponent dashboard-subcomponent-amount figures-part figures--biontech">

                        <div class="dashboard-component-value">
                            <span class="dashboard-component-value__text">{{add (add componentData.track.total.biontech.first componentData.track.total.biontech.second) componentData.track.total.biontech.booster}}&nbsp;BionTech</span>
                        </div>
                    </div>
                    <div class="dashboard-subcomponent dashboard-subcomponent-amount figures-part figures--moderna">
                        <div class="dashboard-component-value">
                            <span class="dashboard-component-value__text">{{add (add componentData.track.total.moderna.first componentData.track.total.moderna.second) componentData.track.total.moderna.booster}}&nbsp;Moderna</span>
                        </div>

                    </div>
                    <div class="dashboard-subcomponent dashboard-subcomponent-amount figures-part figures--astra">
                        <div class="dashboard-component-value">
                            <span class="dashboard-component-value__text">{{add componentData.track.total.astra.first componentData.track.total.astra.second}}&nbsp;AstraZeneca</span>
                        </div>
                    </div>
                    <div class="dashboard-subcomponent dashboard-subcomponent-amount figures-part figures--johnson">
                        <div class="dashboard-component-value">
                            <span class="dashboard-component-value__text">{{add componentData.track.total.johnson.first componentData.track.total.johnson.second}}&nbsp;J&J</span>
                        </div>
                    </div>
                    <div class="dashboard-subcomponent dashboard-subcomponent-amount figures-part figures--biontech">
                        <div class="dashboard-component-value">
                            <span class="dashboard-component-value__text">{{componentData.track.total.biontech.first}}</span>
                        </div>
                        <div class="dashboard-component-label">
                            <span class="dashboard-component-label__text">Erstimpfung</span>
                        </div>

                    </div>
                    <div class="dashboard-subcomponent dashboard-subcomponent-amount figures-part figures--moderna">
                        <div class="dashboard-component-value">
                            <span class="dashboard-component-value__text">{{componentData.track.total.moderna.first}}</span>
                        </div>
                        <div class="dashboard-component-label">
                            <span class="dashboard-component-label__text">Erstimpfung</span>
                        </div>

                    </div>
                    <div class="dashboard-subcomponent dashboard-subcomponent-amount figures-part figures--astra">

                        <div class="dashboard-component-value">
                            <span class="dashboard-component-value__text">{{componentData.track.total.astra.first}}</span>
                        </div>
                        <div class="dashboard-component-label">
                            <span class="dashboard-component-label__text">Erstimpfung</span>
                        </div>
                    </div>
                    <div class="dashboard-subcomponent dashboard-subcomponent-amount figures-part figures--johnson">

                        <div class="dashboard-component-value">
                            <span class="dashboard-component-value__text">{{componentData.track.total.johnson.first}}</span>
                        </div>
                        <div class="dashboard-component-label">
                            <span class="dashboard-component-label__text">Erstimpfung</span>
                        </div>
                    </div>
                    <div class="dashboard-subcomponent dashboard-subcomponent-amount figures-part figures--biontech">
                        <div class="dashboard-component-value">
                            <span class="dashboard-component-value__text">{{componentData.track.total.biontech.second}}</span>
                        </div>
                        <div class="dashboard-component-label">
                            <span class="dashboard-component-label__text">Zweitimpfung</span>
                        </div>

                    </div>
                    <div class="dashboard-subcomponent dashboard-subcomponent-amount figures-part figures--moderna">
                        <div class="dashboard-component-value">
                            <span class="dashboard-component-value__text">{{componentData.track.total.moderna.second}}</span>
                        </div>
                        <div class="dashboard-component-label">
                            <span class="dashboard-component-label__text">Zweitimpfung</span>
                        </div>

                    </div>
                    <div class="dashboard-subcomponent dashboard-subcomponent-amount figures-part figures--astra">

                        <div class="dashboard-component-value">
                            <span class="dashboard-component-value__text">{{componentData.track.total.astra.second}}</span>
                        </div>
                        <div class="dashboard-component-label">
                            <span class="dashboard-component-label__text">Zweitimpfung</span>
                        </div>
                    </div>
                    <div class="dashboard-subcomponent dashboard-subcomponent-amount figures-part figures--johnson">
                        <div class="dashboard-component-value">
                            <span class="dashboard-component-value__text">{{componentData.track.total.johnson.second}}</span>
                        </div>
                        <div class="dashboard-component-label">
                            <span class="dashboard-component-label__text">Zweitimpfung</span>
                        </div>
                    </div>
                    <div class="dashboard-subcomponent dashboard-subcomponent-amount figures-part figures--biontech">
                        <div class="dashboard-component-value">
                            <span class="dashboard-component-value__text">{{componentData.track.total.biontech.booster}}</span>
                        </div>
                        <div class="dashboard-component-label">
                            <span class="dashboard-component-label__text">Booster</span>
                        </div>

                    </div>
                    <div class="dashboard-subcomponent dashboard-subcomponent-amount figures-part figures--moderna">
                        <div class="dashboard-component-value">
                            <span class="dashboard-component-value__text">{{componentData.track.total.moderna.booster}}</span>
                        </div>
                        <div class="dashboard-component-label">
                            <span class="dashboard-component-label__text">Booster</span>
                        </div>

                    </div>
                    <div></div>
                    <div></div>
                </div>

            </div>
        </div>
    </div>
</div>