{{#each entries}}
    <div class="mdc-banner checkout-banner mdc-banner--mobile-stacked {{#checklength this.data.data 4}}multi4{{else}}{{#checklength this.data.data 2}}multi2{{else}}{{/checklength}}{{/checklength}}" role="banner">
        <div class="mdc-banner__content" role="status" aria-live="assertive">
            <div class="mdc-banner__graphic-text-wrapper ">
                <div class="mdc-banner__text">
                    <span class="checkout-banner-text">Nummer:</span>
                    <div class="checkout-number-container">
                        <span class="checkout-banner-number {{#checklength this.data.data 4}}multi4{{else}}{{#checklength this.data.data 2}}multi2{{else}}{{/checklength}}{{/checklength}}">
                            {{#each this.data.data}}
                                {{this.number}}{{#unless @last}},{{/unless}}
                            {{/each}}
                        </span>
                        <div class="time-container"><span class="checkout-time-label">Impfbereich: </span><span class="checkout-time">{{this.track.name}}</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/each}}