<div class="app-page-wrapper device-page">
    <div class="userinfo-save-banner">
        <div class="mdc-banner" role="banner">
            <div class="mdc-banner__fixed">
                <div class="mdc-banner__content"
                     role="status"
                     aria-live="assertive">
                    <div class="mdc-banner__graphic-text-wrapper">
                        <div class="mdc-banner__text">
                            Änderungen speichern?
                        </div>
                    </div>
                    <div class="mdc-banner__actions">
                        <button type="button" class="save-button mdc-button mdc-button--outlined mdc-banner__primary-action">
                            <div class="mdc-button__ripple"></div>
                            <div class="mdc-button__label">Speichern</div>
                        </button>
                        <button type="button" class="cancel-button mdc-button mdc-banner__secondary-action mdc-button--outlined">
                            <div class="mdc-button__ripple"></div>
                            <div class="mdc-button__label">Abbrechen</div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--    <div class="app-page-header">-->
<!--        <div class="page-title">-->
<!--            Mein Gerät-->
<!--        </div>-->
<!--    </div>-->
    <div class="app-page-content full-width">
            <div class="userinfo-inner">
                <div class="userinfo-section userinfo-card card-full userwidget-description">
                    <div class="userinfo-section-inner">
                        <div class="userinfo-sectionheader"><span>Mein Gerät</span></div>
                        <div>
                            <ul class="userlist itemlist itemlist-style-clean itemlist-noSelect userinfo-itemList">
                                <li class="userinfo-item user-entry userkey-entry"><a class="inner">
                                    <div class="item-property userkey-entry-title"><span class="userinfo-item-label userinfo-attribute-name">Username:</span></div>
                                    <div class="item-property userkey-entry-value"><span class="userinfo-item-label">{{user.username}}</span></div>
                                </a></li>
                                <li class="userinfo-item user-entry userkey-entry"><a class="inner">
                                    <div class="item-property userkey-entry-title"><span class="userinfo-item-label userinfo-attribute-name">id:</span></div>
                                    <div class="item-property userkey-entry-value"><span class="userinfo-item-label">{{user._id}}</span></div>
                                </a></li>
                            </ul>
                        </div>
                        <div class="userinfo-sectionheader"><span>Allgemeine Daten</span></div>
                        <div>
                            <ul class="userlist itemlist itemlist-style-clean itemlist-noSelect userinfo-itemList">
                                <li class="user-entry userkey-entry">
                                    <a class="inner">
                                        <div class="item-property userkey-entry-title"><span>Login-Name:</span></div>
                                        <div class="item-property userkey-entry-value"><span>{{user.username}}</span></div>
                                        <div class="clear"></div>
                                    </a>
                                </li>
                                <li class="user-entry userkey-entry">
                                    <a class="inner">
                                        <div class="item-property userkey-entry-title"><span>Rolle:</span></div>
                                        <div class="item-property userkey-entry-value"><span>{{user.role.name}}</span></div>
                                        <div class="clear"></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="userinfo-sectionheader"><span>Freigabe für Aufgaben</span></div>
                        <div>
                            <ul class="userlist itemlist itemlist-style-clean itemlist-noSelect userinfo-itemList">
                                {{#each user.allowedTasks}}
                                    <li class="user-entry userkey-entry">
                                        <a class="inner">
                                            <div class="item-property userkey-entry-title"><span>{{this.name}}</span></div>
                                            <div class="item-property userkey-entry-value"><span>
                                                <div class="mdc-switch mdc-switch--checked">
                                                    <div class="mdc-switch__track"></div>
                                                    <div class="mdc-switch__thumb-underlay">
                                                        <div class="mdc-switch__thumb"></div>
                                                        <input type="checkbox" id="sound-switch" class="mdc-switch__native-control" role="switch" aria-checked="true" checked>
                                                    </div>
                                                </div>
                                            </span></div>
                                            <div class="clear"></div>
                                        </a>
                                    </li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

    </div>
</div>
