<div class="app-page-wrapper device-page">
    <div class="userinfo-save-banner">
        <div class="mdc-banner mdc-banner--mobile-stacked" role="banner">
            <div class="mdc-banner__fixed">
                <div class="mdc-banner__content"
                     role="status"
                     aria-live="assertive">
                    <div class="mdc-banner__graphic-text-wrapper">
                        <div class="mdc-banner__text">
                            Änderungen speichern?
                        </div>
                    </div>
                    <div class="mdc-banner__actions">
                        <button id="banner-save" type="button" class="save-button mdc-button mdc-button--outlined mdc-banner__primary-action">
                            <div class="mdc-button__ripple"></div>
                            <div class="mdc-button__label">Speichern</div>
                        </button>
                        <button type="button" class="cancel-button mdc-button mdc-banner__secondary-action mdc-button--outlined">
                            <div class="mdc-button__ripple"></div>
                            <div class="mdc-button__label">Abbrechen</div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--    <div class="app-page-header">-->
<!--        <div class="page-title">-->
<!--            Mein Gerät-->
<!--        </div>-->
<!--    </div>-->
    <div class="app-page-content full-width">
        <div class="userinfo-inner">
            <div class="userinfo-section userinfo-card card-full userwidget-description">
                <div class="userinfo-section-inner">
                    <div class="userinfo-sectionheader"><span>Mein Gerät</span></div>
                    <div>
                        <ul class="userlist itemlist itemlist-style-clean itemlist-noSelect userinfo-itemList">
                            <li class="userinfo-item user-entry userkey-entry"><a class="inner">
                                <div class="item-property userkey-entry-title"><span class="userinfo-item-label userinfo-attribute-name">Username:</span></div>
                                <div class="item-property userkey-entry-value"><span class="userinfo-item-label">{{exploredUser.username}}</span></div>
                            </a></li>
                            <li class="userinfo-item user-entry userkey-entry"><a class="inner">
                                <div class="item-property userkey-entry-title"><span class="userinfo-item-label userinfo-attribute-name">id:</span></div>
                                <div class="item-property userkey-entry-value"><span class="userinfo-item-label">{{exploredUser._id}}</span></div>
                            </a></li>
                        </ul>
                    </div>
                    <div class="userinfo-sectionheader"><span>Allgemeine Daten</span></div>
                    <div>
                        <ul class="userlist itemlist itemlist-style-clean itemlist-noSelect userinfo-itemList">
                            <li class="user-entry userkey-entry">
                                <a class="inner">
                                    <div class="item-property userkey-entry-title"><span>Anzeige-Name:</span></div>
                                    <div class="item-property userkey-entry-value"><input class="userkey-entry-edit" type="text" value="{{exploredUser.name}}" data-key="displayname" disabled/></div>
                                    <div class="clear"></div>
                                </a>
                            </li>
                            <li class="user-entry userkey-entry">
                                <a class="inner">
                                    <div class="item-property userkey-entry-title"><span class="userinfo-item-label userinfo-attribute-name">Rolle:</span></div>
                                    <div class="item-property userkey-entry-value">
                                        <select class="userinfo-select userkey-entry-edit" data-key="role" disabled>
                                            <option value="null" selected disabled>Bitte auswählen</option>
                                            {{#each roles}}
                                                <option value="{{this.id}}" {{#if (userHasRole ../exploredUser this)}}selected{{/if}}>{{this.name}} </option>
                                            {{/each}}
                                        </select>
                                    </div>
<!--                                    <div class="item-property userkey-entry-value"><span>{{exploredUser.role.name}}</span></div>-->
                                    <div class="clear"></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="userinfo-sectionheader"><span>Freigabe für Aufgaben</span></div>
                    <div>
                        <ul class="userlist itemlist itemlist-style-clean itemlist-noSelect userinfo-itemList">
                            {{#each tasks}}
                                <li class="user-entry userkey-entry">
                                    <a class="inner">
                                        <div class="item-property userkey-entry-title"><span>{{this.name}}</span></div>
                                        <div class="item-property userkey-entry-value"><span>
                                            <div class="mdc-switch mdc-switch--checked" data-taskid="{{this.id}}">
                                                <div class="mdc-switch__track"></div>
                                                <div class="mdc-switch__thumb-underlay">
                                                    <div class="mdc-switch__thumb"></div>
                                                    <input type="checkbox" id="sound-switch" class="mdc-switch__native-control" role="switch" aria-checked="true" value="{{this.id}}">
                                                </div>
                                            </div>
                                        </span></div>
                                        <div class="clear"></div>
                                    </a>
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
            {{#if enableEdit}}
            <div class="userinfo-section userinfo-card card-full userwidget-description">
                <div class="userinfo-section-inner">
                    <div class="userinfo-sectionheader"><span>Passwort ändern</span></div>
                    <div>
                        <span>In Arbeit...</span>
                    </div>
                </div>
            </div>
            <div class="userinfo-section userinfo-card card-full userwidget-description">
                <div class="userinfo-section-inner">
                    <div class="userinfo-sectionheader"><span>Nutzer löschen</span></div>
                    <div>
                        <button id="user-delete-button" class="delete-button mdc-fab mdc-fab--extended">
                            <div class="mdc-fab__ripple"></div>
                            <span class="material-icons mdc-fab__icon">delete</span>
                            <span class="mdc-fab__label">Nutzer löschen</span>
                        </button>
                    </div>
                </div>
            </div>
            {{/if}}
        </div>
    </div>
    <div class="mdc-snackbar">
        <div class="mdc-snackbar__surface" role="status" aria-relevant="additions">
            <div class="mdc-snackbar__label" aria-atomic="false">
                Hier könnte Ihre Meldung stehen.
            </div>
            <div class="mdc-snackbar__actions" aria-atomic="true">
                <button type="button" class="mdc-button mdc-snackbar__action">
                    <div class="mdc-button__ripple"></div>
                    <span class="mdc-button__label"></span>
                </button>
            </div>

        </div>
    </div>
    <div id="delete-dialog" class="mdc-dialog">
        <div class="mdc-dialog__container">
            <div class="mdc-dialog__surface"
                 role="alertdialog"
                 aria-modal="true"
                 aria-labelledby="my-dialog-title"
                 aria-describedby="my-dialog-content">
                <div class="mdc-dialog__content" id="my-dialog-content">
                    Nutzer {{exploredUser.username}} löschen?
                </div>
                <div class="mdc-dialog__actions">
                    <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="cancel">
                        <div class="mdc-button__ripple"></div>
                        <span class="mdc-button__label">Abbrechen</span>
                    </button>
                    <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="delete">
                        <div class="mdc-button__ripple"></div>
                        <span class="mdc-button__label">Löschen</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="mdc-dialog__scrim"></div>
    </div>
</div>
