<div class="app-page-wrapper management-page tabs">

    <!--        <div class="app-page-header">-->
    <!--            <div class="page-title">-->
    <!--                Check In - Vorkontrolle-->
    <!--            </div>-->
    <!--        </div>-->
    <div class="tab-container">
        <div id="tab--devices" class="app-page-content full-width full-height tab" data-tabid="1">
            <div id="devices-container infocards-container">
                <div class="infocards-inner ">
                    <div class="infocards-section infocards-card card-full">
                        <div class="infocards-section-inner">
                            <div class="infocards-sectionheader"><span>Bekannte Geräte</span></div>
                            <ul class="mdc-deprecated-list mdc-deprecated-list--two-line">
                                <h3 class="mdc-list-group__subheader devices-subheader">DRK-Tablets</h3>
                                {{#greaterThan devices.tablets.length 0}}
                                    {{#each devices.tablets}}
                                        <li class="mdc-deprecated-list-item userlist-entry" data-userid={{this.user._id}}>
                                            <span class="mdc-deprecated-list-item__ripple"></span>
                                            <span class="mdc-deprecated-list-item__text">
                                                <span class="mdc-deprecated-list-item__primary-text">{{this.user.name}} <span class="text-secondary">| {{this.dailyTask.name}}</span></span>
                                                <span class="mdc-deprecated-list-item__secondary-text">
                                                    {{#ifEquals this.active 2}}
                                                        <span class="icon-online"></span>{{this.currentTask.name}} {{{batteryStatus this.battery}}}
                                                    {{else}}{{#ifEquals this.active 1}}<span class="icon-inactive"></span>inaktiv{{else}}<span class="icon-offline"></span>{{this.currentTask.name}}{{/ifEquals}}{{/ifEquals}}
                                                </span>
                                            </span>
                                            {{#if (userHasRole ../user ../roles.Admin)}}
                                                <i class="test-notify mdc-deprecated-list-item__meta material-icons" aria-hidden="true" data-userid="{{this.user.id}}">send</i>
                                            {{/if}}
                                        </li>
                                    {{/each}}
                                {{else}}
                                    <li class="mdc-deprecated-list-item no-entry-dummy" >
                                        <span class="mdc-deprecated-list-item__ripple"></span>
                                        <span class="mdc-deprecated-list-item__text">
                                            <span class="mdc-deprecated-list-item__primary-text">Keine Tablets verbunden</span>
                                            <span class="mdc-deprecated-list-item__secondary-text"></span>
                                        </span>
                                    </li>
                                {{/greaterThan}}
                                <li class="mdc-deprecated-list-divider" role="separator"></li>
                            </ul>

                            <ul class="devices-list mdc-deprecated-list mdc-deprecated-list--two-line">
                                <h3 class="mdc-list-group__subheader devices-subheader">Andere</h3>
                                {{#greaterThan devices.other.length 0}}
                                    {{#each devices.other}}
                                        <li class="mdc-deprecated-list-item">
                                            <span class="mdc-deprecated-list-item__ripple"></span>
                                            <span class="mdc-deprecated-list-item__text">
                                              <span class="mdc-deprecated-list-item__primary-text">{{this.user.name}}</span>
                                                <span class="mdc-deprecated-list-item__secondary-text">
                                                    {{#ifEquals this.active 2}}
                                                        <span class="icon-online"></span>{{this.currentTask.name}} {{{batteryStatus this.battery}}}
                                                    {{else}}{{#ifEquals this.active 1}}<span class="icon-inactive"></span>inaktiv{{else}}<span class="icon-offline"></span>{{this.currentTask.name}}{{/ifEquals}}{{/ifEquals}}
                                                </span>
                                            </span>

                                            {{#if (userHasRole ../user ../roles.Admin)}}
                                                    <i class="test-notify mdc-deprecated-list-item__meta material-icons" aria-hidden="true" data-userid="{{this.user.id}}">send</i>
                                            {{/if}}
                                        </li>
                                    {{/each}}

                                {{else}}
                                    <li class="mdc-deprecated-list-item no-entry-dummy" >
                                        <span class="mdc-deprecated-list-item__ripple"></span>
                                        <span class="mdc-deprecated-list-item__text">
                                            <span class="mdc-deprecated-list-item__primary-text">Keine anderen Geräte verbunden</span>
                                            <span class="mdc-deprecated-list-item__secondary-text"></span>
                                        </span>
                                    </li>
                                {{/greaterThan}}

                                <li class="mdc-deprecated-list-divider" role="separator"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="mdc-snackbar">
        <div class="mdc-snackbar__surface" role="status" aria-relevant="additions">
            <div class="mdc-snackbar__label" aria-atomic="false">
                Hier könnte Ihre Meldung stehen.
            </div>
            <div class="mdc-snackbar__actions" aria-atomic="true">
                <button type="button" class="mdc-button mdc-snackbar__action">
                    <div class="mdc-button__ripple"></div>
                    <span class="mdc-button__label"></span>
                </button>
            </div>

        </div>
    </div>
</div>
<div id="bottom-container"></div>